## DATA FOR ML

![NEW AXIS](images/ml-pipe.png)
Source: https://medium.datadriveninvestor.com/data-preprocessing-3cd01eefd438

### 70% work in Preparing Dataset
### Most models are black box
### Evaluation, Benchmarking

### DATA PREPROCESSING 
- Importing the required Libraries
- Importing the data set
- Handling the Missing Data.
- Encoding Categorical Data.
- Splitting the data set into test set and training set.
- Feature Scaling.

### Types of Data
![NEW AXIS](images/data-types.png)

In [243]:
import pandas as pd
pumpkins = pd.read_csv('../data/US-pumpkins.csv')
pumpkins.head()

,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,...,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Unnamed: 24,Unnamed: 25
0,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,4/29/17,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
1,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,5/6/17,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
2,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/16,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
3,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/16,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
4,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/5/16,90.0,100.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN

In [244]:
len(pumpkins)

1757

In [246]:
#Check Empty Spaces
pumpkins.isnull().sum()

City Name             0
Type               1712
Package               0
Variety               5
Sub Variety        1461
Grade              1757
Date                  0
Low Price             0
High Price            0
Mostly Low          103
Mostly High         103
Origin                3
Origin District    1626
Item Size           279
Color               616
Environment        1757
Unit of Sale       1595
Quality            1757
Condition          1757
Appearance         1757
Storage            1757
Crop               1757
Repack                0
Trans Mode         1757
Unnamed: 24        1757
Unnamed: 25        1654
dtype: int64

Location, Year, Number of Rooms, Owner's name

In [245]:
#Check All Initial Columns
pumpkins.columns

Index(['City Name', 'Type', 'Package', 'Variety', 'Sub Variety', 'Grade',
       'Date', 'Low Price', 'High Price', 'Mostly Low', 'Mostly High',
       'Origin', 'Origin District', 'Item Size', 'Color', 'Environment',
       'Unit of Sale', 'Quality', 'Condition', 'Appearance', 'Storage', 'Crop',
       'Repack', 'Trans Mode', 'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [247]:
#Select Needed Features
new_columns = ['Package', 'Month', 'Low Price', 'High Price', 'Date']
pumpkins = pumpkins.drop([c for c in pumpkins.columns if c not in new_columns], axis=1)

In [248]:
#Now we have selected Columns (Note Month is not there)
pumpkins.columns

Index(['Package', 'Date', 'Low Price', 'High Price'], dtype='object')

In [249]:
#Inspect new pumpkins
pumpkins.tail()

            Package     Date  Low Price  High Price
1752  22 lb cartons  9/30/16      14.75       14.75
1753   36 inch bins  9/26/16     275.00      275.00
1754   36 inch bins  9/27/16     275.00      275.00
1755   36 inch bins  9/28/16     275.00      275.00
1756   36 inch bins  9/29/16     275.00      275.00

In [251]:
#We want to get Get one price (By getting the average price) AND
#Get month from date
price = (pumpkins['Low Price'] + pumpkins['High Price']) / 2

month = pd.DatetimeIndex(pumpkins['Date']).month

In [252]:
#Create new_pumkins and add month and price. Drop date
new_pumpkins = pd.DataFrame({'Month': month, 'Package': pumpkins['Package'], 'Low Price': pumpkins['Low Price'],'High Price': pumpkins['High Price'], 'Price': price})

In [253]:
new_pumpkins.head()

   Month       Package  Low Price  High Price  Price
0      4  24 inch bins      270.0       280.0  275.0
1      5  24 inch bins      270.0       280.0  275.0
2      9  24 inch bins      160.0       160.0  160.0
3      9  24 inch bins      160.0       160.0  160.0
4     11  24 inch bins       90.0       100.0   95.0

In [254]:
len(new_pumpkins)

1757

In [256]:
#Focusing on Package Unit of sale (Taking Bushel Cartons as case study)
pumpkins = pumpkins[pumpkins['Package'].str.contains('bushel', case=True, regex=True)]

In [257]:
len(pumpkins)

415

In [258]:
pumpkins.head()

                 Package     Date  Low Price  High Price
70  1 1/9 bushel cartons  9/24/16       15.0        15.0
71  1 1/9 bushel cartons  9/24/16       18.0        18.0
72  1 1/9 bushel cartons  10/1/16       18.0        18.0
73  1 1/9 bushel cartons  10/1/16       17.0        17.0
74  1 1/9 bushel cartons  10/8/16       15.0        15.0

### Normalization
- Normalization is a process that ensures each variable has the same scale. 
- Normalization can increase the accuracy of your models.
- Example: house A cost USD3K and another house B cost NGN200K can be normalized to:
 - A=> 3K*450 = NGN135000K
 - B=> 200K
 - C==> 100K

- After Normalization A = 1.0, B ~ 0.2, C = 0.0

- Max-Mix 

![NEW AXIS](images/normalize.png)
![NEW AXIS](images/normalize3.png)

In [259]:
# Normalizing the Prices
new_pumpkins.loc[new_pumpkins['Package'].str.contains('1 1/9'), 'Price'] = price/(1 + 1/9)

new_pumpkins.loc[new_pumpkins['Package'].str.contains('1/2'), 'Price'] = price/(1/2)

### Putting it all together

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

pumpkins = pd.read_csv('../data/US-pumpkins.csv')

##
pumpkins = pumpkins[pumpkins['Package'].str.contains('bushel', case=True, regex=True)]

new_columns = ['Package', 'Variety', 'City Name', 'Month', 'Low Price', 'High Price', 'Date']
pumpkins = pumpkins.drop([c for c in pumpkins.columns if c not in new_columns], axis=1)

price = (pumpkins['Low Price'] + pumpkins['High Price']) / 2

month = pd.DatetimeIndex(pumpkins['Date']).month
day_of_year = pd.to_datetime(pumpkins['Date']).apply(lambda dt: (dt-datetime(dt.year,1,1)).days)

new_pumpkins = pd.DataFrame(
    {'Month': month, 
     'DayOfYear' : day_of_year, 
     'Variety': pumpkins['Variety'], 
     'City': pumpkins['City Name'], 
     'Package': pumpkins['Package'], 
     'Low Price': pumpkins['Low Price'],
     'High Price': pumpkins['High Price'], 
     'Price': price})

new_pumpkins.loc[new_pumpkins['Package'].str.contains('1 1/9'), 'Price'] = price/1.1
new_pumpkins.loc[new_pumpkins['Package'].str.contains('1/2'), 'Price'] = price*2

new_pumpkins.head()

#Visualization Strategy

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
price = new_pumpkins.Price
month = new_pumpkins.Month
plt.scatter(price, month)
plt.ylabel("month")
plt.xlabel("price")
plt.show()

In [ ]:
new_pumpkins.groupby(['Month'])['Price'].mean().plot(kind='bar')
plt.ylabel("Pumpkin Price")

This is a more useful data visualization! It seems to indicate that the highest price for pumpkins occurs in September and October. Does that meet your expectation? Why or why not?